html {
    font-size: 62.5%; }

.titulo {
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
    margin: 50px auto;
}

.contenedorJuego {
    border: 1px black dotted;
    height: 400px;
    width: 400px;
    margin: auto;
    background: rgb(106,106,110);
background: radial-gradient(circle, rgba(106,106,110,1) 0%, rgba(28,28,28,1) 100%);
    border-radius: 60px;
    
}

.color {
    border: 2px black solid;
    height: 180px;
    width: 180px;
    border-radius: 100%;
}

.rojo {
    background: rgb(191,4,30);
background: linear-gradient(90deg, rgba(191,4,30,1) 0%, rgba(208,44,32,1) 26%, rgba(166,4,24,1) 66%);
}

.verde {
    background-color: green;
}

.azul {
    background-color: blue;
}

.amarillo {
    background-color: yellow;
}

.seleccionado {
    opacity: 0.6;
    transform: scale(1.05)
}