@import url("https://fonts.googleapis.com/css2?family=Poor+Story&display=swap");

html {
  font-size: 62.5%;
  /* height: 100%; */
}

body {
  margin: 0;
  font-family: "Poor Story", cursive;
  font-weight: bold;
}
header {
  color: rgb(122, 38, 171);
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 5px 5px 3px 0px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}
.head {
  min-width: 100px;
  width: 250px;
  margin: auto;
  text-align: center;
}
p {
  font-size: 2rem;
}
.borrarStorage {
  cursor: pointer;
  transition: ease-in-out all 0.3s;
  text-align: center;
}
.borrarStorage:hover {
  transform: scale(1.2);
  color: rgb(146, 84, 179);
}
.gitHub {
  height: 20px;
  width: 20px;
  padding-right: 20px;
  padding-top: 15px;
}
h1 {
  font-size: 4rem;
  text-align: center;
  margin: 50px auto;
  padding-top: 30px;
}
#contenedorGeneral {
  height: 580px;
  color: rgb(152, 52, 52);
  width: 600px;
  position: relative;
  background-color: rgba(255, 255, 255, 0.7);
  margin: auto;
  border-radius: 5px;
  box-shadow: 5px 5px 3px 0px rgba(0, 0, 0, 0.3);
}
#contenedorJuego {
  height: 400px;
  width: 400px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.contenedorBotonComenzar {
  position: absolute;
  top: 300px;
  left: 200px;
  z-index: 1;
  height: 20px;
  border: none;
}
#start {
  color: white;
  height: 50px;
  width: 200px;
  font-size: 2rem;
  font-family: "Poor Story", cursive;
  border-radius: 5px;
  border: none;
  background: rgb(6, 81, 49);
  opacity: 0.8;
  transition: all 0.3s ease-in-out;
}
#start:hover {
  background: rgb(44, 40, 113);
}
.color {
  height: 180px;
  width: 180px;
  border-radius: 10%;
  box-shadow: 5px 5px 3px 0px rgba(0, 0, 0, 0.5);
}

#rojo {
  background: #db2763;
}

#verde {
  background: #b0db43;
}

#azul {
  background: #12eaea;
}

#amarillo {
  background: #c492b1;
}

.seleccionado {
  transform: scale(0.95);
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 0px 128px 0px rgba(240, 235, 235, 0.6) inset;
}
.previoInicio {
  filter: blur(10px);
}

.fondo1 {
  animation: slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
  bottom: 0;
  left: -50%;
  opacity: 0.5;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}

.fondo2 {
  animation-direction: alternate-reverse;
  animation-duration: 4s;
}

.fondo3 {
  animation-duration: 5s;
}
@keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}

#fondoPokemon {
  position: fixed;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
  visibility: hidden;
}

.pokemon {
  text-align: center;
  color: white;
  width: 200px;
  height: 200px;
  position: absolute;
  top: 200px;
  left: 200px;
  z-index: 2;
  visibility: hidden;
}

.comentarioPokemon {
  text-align: center;
  color: white;
  width: 200px;
  height: 200px;
  position: absolute;
  top: 200px;
  left: 200px;
  z-index: 2;
  visibility: hidden;
}

@media (max-width: 768px) {
header {
  height: 90px;
  flex-flow: column wrap;
  justify-content: center;
}
.head {
  min-width: 90px;
  height: 45px;
}
.head p {
  font-size: 1.8rem;
}
#contenedorGeneral {
  width: 510px;
}
.contenedorBotonComenzar {
  left: 160px;
}
.comentarioPokemon {
  left: 160px;
}
.pokemon {
  left: 160px;
  top: 150px;
}
}
@media (max-width: 548px) {
  .head {
    width: 180px;
  }
  .head p {
    font-size: 1.5rem;
  }
  h1 {
    font-size: 3rem;
  }
  #contenedorGeneral {
    width: 380px;
    height: 420px;
  }
  .contenedorBotonComenzar {
    left: 90px;
    top: 210px;
}
#contenedorJuego {
  height: 320px;
  width: 320px;
}
.color {
  height: 120px;
  width: 120px;
}
h1 {
  margin: 25px auto;
}
.comentarioPokemon {
  left: 90px;
  top: 170px;
}
.pokemon {
  left: 100px;
  top: 110px ;

}
}